<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title>Hogwarts</title>
  </head>
  <body>
    <nav>

      <ul>
        <li>
          <a href="/students">All students</a>
        </li>
        <li>
          <a href="/houses">All houses</a>
        </li>
        <li>
          <a href="/students/new">Add new student</a>
        </li>
      </ul>

    </nav>
    <%= yield %>
  </body>
</html>
